.nav-top {
    display: none;
    padding: 0;
}

.nav-top-left,
.nav-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.nav-top-logo {
    height: 30px;
    margin-left: 5px;
}

.nav-sign-in-text {
    font-size: 13px;
}

.nav-bottom {
    display: none;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    /* background-color: #37475A; */
    padding: 5px;
    margin-top: 2px;
}

.nav-bottom span {
    margin-left: 5px;
    font-size: 13px;
    line-height: 20px;
}

/* .nav-bottom-location {
    
} */

/* ------------ Using Median Queries ----------- */
/* //========== Making Responsive========== */
@media screen and (max-width: 1050px) {
    .nav-container {
        flex-direction: column;
        height: auto;
        padding: 0px 0px 5px 0px;
        background-color: #232f3e;
    }

    .nav-left,
    .nav-right {
        display: none;
    }

    .nav-search-box-container {
        background-color: white;
        border-radius: 5px;
    }

    .nav-search-right {
        border-radius: 5px;
    }

    .nav-top {
        display: flex;
        justify-content: space-between;
        color: white;
        margin: 5px 10px 5px 10px;
    }

    .nav-bottom {
        display: flex;
        flex-direction: column;
    }
}