.frequentlyBoughtTogether {
    border: 2px solid rgb(235, 235, 235);
    margin: 25px 0px;
}

.frequentlyBoughtTogether h1 {
    font-size: 2rem;
    font-size: 24px;
    font-weight: 450;
    line-height: 1.14;
    color: #212121;
    width: 100%;
    border-spacing: 100px;
}